* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #e2f1ff;
}

header {
    background-color: #fff;
    border-bottom: .3rem solid #32325d40;
    padding: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

nav div {
    display: flex;
    justify-content: space-between;
    width: 18%;
}

nav div h1 {
    font-size: 2rem;
    align-items: center;
    display: flex;
    color: #363738;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: end;
    list-style-type: none;
}

nav ul li a {
    margin-left: 10rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: #83878f;
    font-weight: bold;
}

li a:hover {
    color: #363738;
    border-bottom: .3rem solid #0da1e5;
}

section {
    margin: 1% 6%;
}

.container-inicio-cima {
    margin: 7.5% 0 6% 0;
    border-radius: 1rem;
    padding: 5rem 5rem 7rem 5rem;
    background-color: #0da1e5;
}

.container-inicio-cima h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.container-inicio-cima p {
    color: #fff;
    font-size: 1.7rem;
    margin: 2rem 0 2rem 0;
    width: 60%;
}

.container-inicio-cima button {
    padding: 1.3rem;
    border: none;
    border-radius: .5rem;
    margin-right: 1rem;
    font-weight: bold;
    border: .2rem solid #fff;
}

button:nth-of-type(1) {
    color: #0da1e5;
}

button:nth-of-type(2) {
    background-color: transparent;
    color: #fff;
}

.container-inicio-cima button:hover {
    transform: scale(1.05);
    transition: ease .2s;
    
}

.container-inicio-baixo h2,
.terceiro-container h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container-caixinhas-problema {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icone-x {
    background-color: rgb(255, 192, 192);
}

.icone-relogio {
    background-color: rgb(255, 237, 202);
}

.icone-suporte {
    background-color: rgb(216, 216, 255);
}

.container-caixinhas-problema div {
    padding: 2rem;
    width: 31%;
    background-color: #fff;
    border-radius: 1rem;
}

.container-caixinhas-problema div img {
    border-radius: 50%;
    padding: .5rem;
}

.container-caixinhas-problema div h3 {
    margin: 1rem 0 1rem 0;
    font-size: 2.2rem;
    color: #494b4d;
}

.container-caixinhas-problema div p {
    font-size: 1.5rem;
    color: #83878f;
}

.terceiro-container {
    width: 100%;
    margin-top: 5%;
}

.dentro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.dentro-container-esquerda,
.dentro-container-direita {
    width: 49%;
}

.dentro-container-direita {
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 1rem 0 40rem;
}

.dentro-container-esquerda h3 {
    font-size: 2rem;
}

.dentro-container-esquerda p {
    font-size: 1.5rem;
    color: #363738;
    margin: 1rem 0;
}

.check-informacoes div {
    display: flex;
    align-items: center;
}

.check-informacoes div img {
    width: 2rem;
}

.check-informacoes div p {
    font-size: 1.3rem;
    margin-left: .3rem;
    color: #494b4d;
}

.btn-experimentar-bot {
    margin-top: 5%;
    display: flex;
    justify-content: center
}

.btn-experimentar-bot button {
    padding: 1.5rem;
    border: none;
    background-color: #0da1e5;
    color: #fff;
    border-radius: 1rem;
}

.btn-experimentar-bot button:hover {
    transform: translateY(-5%);
    transition: ease .5s;
}

.s-section h2, .t-section h2 {
    text-align: center;
    font-size: 3rem;
    margin: 5% 0 0.3% 0;
}

.s-section p, .subtitulo-t-section {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3%;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    width: 32%;
}

.card-header {
    height: 6.5rem;
    background: linear-gradient(to right, #0077c2, #00aaff);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.card-avatar {
    width: 8rem;
    height: 8rem;
    background: #ccc;
    border-radius: 50%;
    border: .3rem solid #fff;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.card-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card h3 {
    margin-top: 6rem;
    font-size: 1.8rem;
}

.subtitulo-card {
    color: #0077c2;
    font-weight: bold;
    margin-bottom: 1rem;
}

.descricao {
    font-size: 1.4rem;
    padding: 0 1rem;
}

.icones-card {
    margin: 2rem 0;
}

.icones-card a {
    margin: 0 .5rem;
    display: inline-block;
}

.nossa-missao {
    background-color: #fff;
    margin-top: 4rem;
    border-radius: 1rem;
    padding: 3rem 3rem 1rem 3rem;
}

.nossa-missao h3 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

.nossa-missao p {
    text-align: start;
    font-size: 1.6rem;
}

.icone-github, .icone-linkedin, .icone-email {
    width: 3rem;
    height: 3rem;
}

.header-demo-bot {
    background-color: #00aaff;
    padding: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.header-demo-bot h3, .header-demo-bot span {
    color: #fff;
}

.header-demo-bot div {
    display: flex;
    flex-direction: row;
}

.header-demo-bot img {
    width: 4.5rem;
}

.header-demo-bot h3 {
    font-size: 1.7rem;
    margin: 1rem 0 .7rem .5rem
}

.header-demo-bot span {
    font-size: 1.4rem;
    margin-left: 5.1rem;
}

.msgs-demo-bot {
    padding: 2.3rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 38rem;
    background-color: #fff;
    border: .1rem solid #d1d1d1;
}

.msgs-demo-bot div p {
    font-size: 1.4rem;
    color: #fff;
}

.p-msg-bot, .t-msg-bot, .quinta-msg-bot {
    background-color: #00aaff;
    padding: 1rem;
    border-radius: 1rem 1rem 1rem .2rem;
    width: 70%;
}

.s-msg-bot, .q-msg-bot {
    background-color: #00000071;
    padding: 1rem;
    border-radius: 1rem 1rem .2rem 1rem;
    margin: 3rem 0 3rem 52rem;
    width: 60%;
}

.enviar-msg-demo-bot {
    padding: 1rem;
    border: .1rem solid #d1d1d1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.escrever-msg {
    border: 1px solid black;
    background-color: #fff;
    flex: 14;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: .1rem solid #d1d1d1;
}

.btn-enviar-msg {
    background-color: #00aaff;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: .62rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: .1rem solid #d1d1d1;
    border-bottom: .1rem solid #d1d1d1;
}