h2 {
    margin-top: 11rem;
    font-size: 3rem;
    text-align: center;
}

.subtitulo-t-section {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.header-demo-bot {
    background-color: #00aaff;
    padding: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.header-demo-bot h3,
.header-demo-bot span {
    color: #fff;
}

.header-demo-bot div {
    display: flex;
    flex-direction: row;
}

.header-demo-bot img {
    width: 4.5rem;
}

.header-demo-bot h3 {
    font-size: 1.7rem;
    margin: 1rem 0 .7rem .5rem
}

.header-demo-bot span {
    font-size: 1.4rem;
    margin-left: 5.1rem;
}

.msgs-demo-bot {
    padding: 2.3rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 38rem;
    background-color: #fff;
    border: .1rem solid #d1d1d1;
}

.msgs-demo-bot div p {
    font-size: 1.4rem;
    color: #fff;
}

.p-msg-bot,
.t-msg-bot,
.quinta-msg-bot {
    background-color: #00aaff;
    padding: 1rem;
    border-radius: 1rem 1rem 1rem .2rem;
    width: 70%;
}

.s-msg-bot,
.q-msg-bot {
    background-color: #00000071;
    padding: 1rem;
    border-radius: 1rem 1rem .2rem 1rem;
    margin: 3rem 0 3rem 52rem;
    width: 60%;
}

.enviar-msg-demo-bot {
    padding: 1rem;
    border: .1rem solid #d1d1d1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.escrever-msg {
    border: 1px solid black;
    background-color: #fff;
    flex: 14;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: .1rem solid #d1d1d1;
}

.btn-enviar-msg {
    background-color: #00aaff;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: .62rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: .1rem solid #d1d1d1;
    border-bottom: .1rem solid #d1d1d1;
}